
<table class="table">
  <tr>
     <th>Description</th>
    <th>Prompt</th>
   


  </tr>

<% @questions.each do |question| %>
  <tr>
      <td><%= link_to question.description, project_question_path(@project.id, question.id) %></td>
    <td><%= qtyper(question.qtype) %></td>
  
  </tr>
<% end %>
</table>






