
<table class="table">
  <tr>
    <th>Prompt</th>
    <th>Description</th>
    <th>Sort Order</th>
    <th></th>

  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%= qtyper(question.qtype) %></td>
    <td><%= question.description %></td>
    <td><%= question.position%></td>
    <td><%= link_to "Show", project_question_path(@project.id, question.id) %></td>
  </tr>
<% end %>
</table>



