<div class="row">
	<div class="span3">
		
<%= link_to 'Clean up unpublished', unpublish_path, :class => "btn btn-danger", data: { confirm: 'Are you sure?' } %>
	</div>
	<div class="span4">
		<p>"Clean up unpublished" will unpublish all projects from which their parent agency is not published</p>
	</div>


</div>