<h1>Portal users</h1>

<table class="table">
  <tr>
    
    <td></td>
    <td>Name</td>
    <th>Email</th>
    <th>Agencies</th>
  

    
  </tr>

<% @user.each do |user| %>
  <tr>
        <td width="15px"><%= useractive_check(user) %></td>
        <td><%= link_to user.username, adminedit_path(user)%></td>    
        <td><%= user.email %></td>
        <td>(<%= Portaluserassignment.where(:user_id => user.id).count%>) Manage</td> 

  </tr>
<% end %>
</table>
<%# link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>