<div class="container">

<div class="span12">

<div class="getstarted" >
<h1>Welcome, lets get started!</h1>
<p>In order to start you need to name your agency</p>
<%= render :partial => "agencies/getstarted", :locals => {:@agency => Agency.new} %>
 

</div>

</div>
</div>