<!-- Modal -->
<div id="archive" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="myModalLabel">Archive</h3>
</div>
<div class="modal-body">


<%= form_for(@agency, :html => { :class => "form-inline"}) do |f| %>

 


    <div class="alert">
      This feature comming soon. Get unwanted agencies out of the way without deleting!
    </div>
   



</div>
<div class="modal-footer">
  <p class="fleft"></p>



<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
<% end %>
</div>
</div>