
  

<h1>Agencies</h1>
<a href="#" rel="tooltip" title="first tooltip">hover over me</a>
<%= @current_user.id%>
<table class="table table-striped">
  <tr>
    <th>Agency</th>
    <th>Projects</th>
    <th>Edit</th>  
 
</tr>

<% @agencies.each do |agency| %>
  <tr>
    <td><%= published_check(agency) %> <%=link_to agency.name, agency %></td>
    <td>-</td>
    <td><%= link_to 'Edit', edit_agency_path(agency) %></td>
   <!-- <td><%#= agency.included_by_default %></td>
    <td><%#= agency.sort_order %></td> -->
  </tr>
<% end %>
</table>


<%# user_rights(agency.id, @current_user) %>
<%# link_to 'Destroy', agency, method: :delete, data: { confirm: 'Are you sure?' } %>

