
  

<h1>Agencies</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
  <th></th>  
</tr>

<% @agencies.each do |agency| %>
  <tr>
    <td><%=link_to agency.name, agency %></td>
   <!-- <td><%#= agency.included_by_default %></td>
    <td><%#= agency.sort_order %></td>
    <td><%#= link_to 'Show', agency %></td>
    <td><%#= link_to 'Edit', edit_agency_path(agency) %></td>-->
    <td><%= link_to 'Destroy', agency, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
  </tr>
<% end %>
</table>


