
<div class="span6">
    <h1><%= @agency.name %> </h1>

  <p>



  <table class="table table-striped">
    <tr>
      <th>Projects</th>
      <th></th>
    </tr>
    <%= render @agency.projects %>
  </table>


 
  </div>

</div>
