
	<div class="span12">
<h1>New Project<br><br></h1>

<%= render 'form' %>
<div class="span12">
<p> Click create project but don't worry your project won't go live until you are ready!</p>
</div></div>
<div class="row">
	
  
</div></div>

 <%= render :partial => "mapmodal" %>