
<%if @question.qtype == '1' %>

<table class="table">
  <tr>
    <th>Responses</th>
  

  </tr>

<% @responces.each do |responce| %>
  <tr>
   
      
    <td><%= link_to responce.description, question_responce_path(@question.id, responce.id) %></td>

  </tr>
<% end %>
</table>

<% elsif @question.qtype == '2' %>

<table class="table">
  <tr>
     <th>Responses</th>

  </tr>
  </table>

<% @responces.each do |responce| %>
  
  
    <%= link_to image_tag(responce.image.url(:thumb)), edit_question_responce_path(@question.id, responce.id) %>
  
<% end %>



<% elsif @question.qtype == '3' %>

<% end %>








