<div class="span6">

  <%if @question.qtype == '1' %>

  	<b>Description:</b>		
  
    <%= @responce.description %>


<% elsif @question.qtype == '2' %>

<%= image_tag @responce.image(:mobile) %>
<br>
<b>Description:</b>		
  
    <%= @responce.description %>


<% elsif @question.qtype == '3' %>
Responses are not entered using this interface.
<% end %>


</div>







