<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Welcome to Localisto</h2>
    <p>
      A new user has signed up to manange their agency through the Localisto App portal.
    </p>
    <p>
      Username: <%= @user.username %>
    </p>
    <p>Email: <%= @user.email %></p>
  </body>
</html>