/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.all
 */

h1 {padding-bottom: 2px;}
table {margin-top: 30px;}
.modal {display: none;}
textarea#project_description.projdesc {width: 90%; height: 340px}

.back {margin-right: 30px;}


#projshow #myCarousel {margin-top: 107px;}

ul.carousellist {float: right; display: inline;}
.carousellist li {  display: inline; padding-left: 10px; }
.carousellist li a {color: white;}


#project_survey_closes_1i, #project_meeting_starts_1i {width: 70px;}
#project_survey_closes_2i, #project_meeting_starts_2i {width: 105px}
#project_survey_closes_3i, #project_meeting_starts_3i {width: 50px}
#project_survey_closes_4i, #project_meeting_starts_4i {width: 73px}
#project_survey_closes_5i, #project_meeting_starts_5i {width: 50px}

.handle:hover{cursor: move;}

ul.sorlist li {list-style: none; margin-top: 10px;}
.handle {margin-right: 10px}

.breadcrumb li {padding-left: 15px;}

textarea#question_description {width: 400px; height: 60px;}

.projloc {width: 300px; height: 58px;}

#footer {margin: 40px; border-top: grey soild 1px;}

.fright {float: right!important;}
.fleft {float: left;} 

#submenu { background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
    background-repeat: repeat-x;
    border: 1px solid #D4D4D4;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    margin-top: 40px;
    min-height: 40px;
    padding-bottom: 3px;
    padding-top: 5px;
    margin-bottom: 20px;}
#submenu .nav {margin-bottom: 0px;}


.clear {clear: both;}

.statusdot {float:left; padding-right: 10px; padding-left: 5px; cursor: default;}

.sred  {color: #ff3100;}
.sgreen { color: #00b74a;}
.syellow {color: #ffdf00}
.sblue {color: #4671d5;}

.projecticon { float:left; margin-left: 30px; margin-right: 30px; margin-top: 60px}

.iconwrap {width: 840px; margin: auto;}
.linkwrap {width: 840px; margin: auto;}
.linkwrap  {text-align: center;}


 div.projecticon img:hover {position: relative; top: -10px; opacity: 1;}
 div.projecticon img {
    opacity: .7;
    height: 150px;
    width: 150px;

-moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px; /* future proofing */
-khtml-border-radius: 20px; /* for old Konqueror browsers */
-webkit-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, .2);
box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, .2);}

.getstarted {text-align: center; margin-top: 80px}


.proj img {float: left; height: 150px; padding-right: 20px;}
.proj h1 {padding-top: 25px;}
.space {margin-top: 20px;}
.proj {height: 150px}


/*.span6 + .menu  a { color: green;
    line-height: 28px;
    margin-left: 42px;}
    
    .span6 + .menu  a:hover {background: none}
    
    .span6 + .menu {padding-top: 20px;}
*/

.span6 + .menu a {float: right;  margin-right: 100px;clear:both; width: 200px; margin-bottom: 15px;}

#loading_image {display: none;}

#meetingstarts {background-image: url(/assets/cal.png); background-repeat:no-repeat; background-position: top 4px right 10px; cursor: pointer;}



